<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="About.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>
<body>
    
    <%- include('partials/header')  %>

<div class="back">
        <img src="bg.jpg" alt="">

      <div id='up'>
        <h1 style="text-align: center;font-size: 48px;">About Us</h1><br>
      </div>
     </div>


   <br>
   <h1 style="font-family: Arial, Helvetica, sans-serif;text-align: center;" >We Generate Trust</h1>
  <br>
  <hr style="width: 248px;color: green;position: relative;left: 40%;" >
    <div class="tree">



      <div class="T1">
        

      <video  height="280"  width="410"   controls  >
    <source src="  /video/xyz.mp4" type="video/mp4"  >

      </video>

      </div>

      <div class="T1"  id="tena" >
        <p>
     Phasellus vehicula tempus orci vel consequat. Nullam lorem sem, viverra a rutrum sed, gravida mattis magna. Suspendisse vitae commodo quam. Quisque a enim et ante vulputate finibus nec laoreet ipsum. Etiam lobortis erat vel ullamcorper tristique. Morbi pellentesque orci augue, quis finibus justo accumsan nec. Donec imperdiet sodales lectus sed consectetur. Mauris dignissim.Morbi pellentesque orci augue, quis finibus justo accumsan nec. Donec imperdiet sodales lectus sed consectetur. Mauris dignissim

  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque amet culpa hic laborum  koud uyye yye.

        
      </p>
        
      <button type="submit" id="boton">Read more</button>
      
      </div>





    </div>




   <div class="do">
<img src="n1.jpg" alt="">
</div>


  <div class="parent">


   <div class="hi">

    <div class="IMG"><img src="2.png" alt=""></div>

     <h1>Web Hosting</h1><br>
     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat natus vitae illum autem sunt consectetur sit, minima ab?</p>

   </div>





   <div class="hi">

    <div class="IMG"><img src="1.png" alt=""></div>

     <h1>The Business</h1><br>
     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat natus vitae illum autem sunt consectetur sit, minima ab?</p>

   </div>




   <div class="hi">

    <div class="IMG"><img src="3.png" alt=""></div>

     <h1>The Solution</h1><br>
     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat natus vitae illum autem sunt consectetur sit, minima ab?</p>

   </div>


   

</div>




   

      
     <%- include('partials/footer')%>



     

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js" integrity="sha512-NcZdtrT77bJr4STcmsGAESr06BYGE8woZdSdEgqnpyqac7sugNO+Tr4bGwGF3MsnEkGKhU2KL2xh6Ec+BqsaHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="About.js"></script>
</body>
</html>