<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="footer.css">
    
</head>
<body>
    <footer>
       
       
        <div class="f1">
            <h1>Cloud <span style="color: green;">83</span></h1><br>
            <p style="color: #eeee;font-size: 10px;font-family: Arial, Helvetica, sans-serif;">Cloud Hosting</p>
            <br>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est quam nobis dicta. Debitis nam sint, quasi quia architecto alias. Iure velit rerum nihil optio aut quis asperiores, perferendis repellendus voluptatem.</p>
        
        
        
        
        <!-- Social Links -->
        
        
        
        
        
        
        </div>




           
        <div class="f1">
            <h1>Our Products</h1>

             <br>


                       <ul>
                        <li>Web hosting</li>
                        <li>Resseler Hosting</li>
                        <li>VPS Hosting</li>
                        <li>Dedicated Server</li>
                        <li>Windows Hosting</li>
                       </ul>
        </div>



 <div class="f1">
            <h1>Our Solutions</h1>

             <br>


                       <ul>
                        <li>Web hosting</li>
                        <li>Resseler Hosting</li>
                        <li>VPS Hosting</li>
                        <li>Dedicated Server</li>
                        <li>Windows Hosting</li>
                       </ul>
        </div>




         <div class="f1">
            <h1>Company</h1>

             <br>


                       <ul>
                        <li>Web hosting</li>
                        <li>VPS Hosting</li>
                        <li>Windows Hosting</li>
                       </ul>
        </div>

    



    </footer>
</body>
</html>