<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="header.css">

  
</head>
<body>
     



   <div class="navbar">
   <div class="heading">
    <h4 style="color: #fff;font-family: Arial, Helvetica, sans-serif;font-size:25px;" >Cloud <span style="color: goldenrod;font-size: 20px;" > 83</span></h4>
     <p style="color:#eee;font-family: Arial, Helvetica, sans-serif;font-size: 12px;" >Cloud Hosting</p>
</div>


    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/service">service</a></li>
    </ul>
    
    <div id="btn">
    <a href="/logout">Logout</a>
    </div>

    </div>

<script src="header.js"></script>


</body>
</html>