<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Home.css">
      <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    


    <%- include('partials/header')  %>

   
       <div class="back">
        <img src="bg.jpg" alt="">

      <div id='up'>
        <h1 style="text-align: center;font-size: 48px;">The Best Hosting</h1><br>
        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos saepe aut quae soluta facere officiis!</p>
      </div>

       </div>


      <div class="three">
        
        
        <div class="t1"  data-aos="fade-left" aos-duration="4000" >

   <div class="img"><img src="1.png" alt=""></div><br>
   <h1>Worldwide Support</h1><br>
   <p style="color: gray;font-family: Arial, Helvetica, sans-serif;font-size: 13px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ratione consequuntur obcaecati ad reiciendis. Perspiciatis?</p>


        </div>





           
        
        <div class="t1" data-aos="fade-up" aos-duration="5000" >

   <div class="img"><img src="2.png" alt=""></div><br>
   <h1>Safe & Secure</h1><br>
   <p style="color: gray;font-family: Arial, Helvetica, sans-serif;font-size: 13px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ratione consequuntur obcaecati ad reiciendis. Perspiciatis?</p>


        </div>



                
        
        <div class="t1"  data-aos="fade-right" aos-duration="6000"  >

   <div class="img"><img src="3.png" alt=""></div><br>
   <h1>Cloud Hosting</h1><br>
   <p style="color: gray;font-family: Arial, Helvetica, sans-serif;font-size: 13px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ratione consequuntur obcaecati ad reiciendis. Perspiciatis?</p>


        </div>
  </div>

  <br><br>
  <p style="color: darkblue;text-align: center;font-size: 30px;font-family: Arial, Helvetica, sans-serif;font-weight: bold;" >Our Best service</p>

  <div class="service">

    <img src="service-bg.jpg" alt="">

    <br>




   <div class="upper">


  <div class="sub">

    <div class="s1">


   

   <div class="d1" id="sm1" >
    
    <p style="color: #fff;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 15px;" > Free Domain</p>
    <br>

    <p style="color: #fff;font-family: Arial, Helvetica, sans-serif;font-size: 12px;" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, labore?</p>
  
  </div>

  
  



   <div class="d1"   id="sm2" >
    
    <p style="color: #fff;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 15px;" >Shared Hosting</p>
    <br>

    <p style="color: #fff;font-family: Arial, Helvetica, sans-serif;font-size: 12px;" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, labore?</p>
  
  </div>

  
   <div class="d1"  id="sm3">
    
    <p style="color: #fff;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 15px;" >Reseller Hosting</p>
    <br>

    <p style="color: #fff;font-family: Arial, Helvetica, sans-serif;font-size: 12px;" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, labore?</p>
  
  </div>




    </div>


    <div class="s1">
      <div class="image"><img src="service-circle-pic.png" alt=""></div>
  
  </div>



    <div class="s1">





   <div class="d1" id="sm4" >
    
    <p style="color: #fff;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 15px;" > VPS Hosting</p>
    <br>

    <p style="color: #fff;font-family: Arial, Helvetica, sans-serif;font-size: 12px;" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, labore?</p>
  
  </div>

  
  



   <div class="d1"   id="sm5" >
    
    <p style="color: #fff;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 15px;" >Dedicated Hosting</p>
    <br>

    <p style="color: #fff;font-family: Arial, Helvetica, sans-serif;font-size: 12px;" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, labore?</p>
  
  </div>

  
   <div class="d1"  id="sm6">
    
    <p style="color: #fff;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 15px;" >Cloud Hosting</p>
    <br>

    <p style="color: #fff;font-family: Arial, Helvetica, sans-serif;font-size: 12px;" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, labore?</p>
  
  </div>





    </div>





  </div>



   </div>

  </div>
<br>
   <p style="color: black;font-family: Arial, Helvetica, sans-serif;font-size: 25px;text-align: center;" >We Generate Trust</p>
   <hr style="width: 200px;color: green;position: relative;left: 42%;">




     <div class="trust">



      <div class="tr1">
        <img src="about.png" alt="">
      </div>



      <div class="tr1">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores corporis doloribus nemo quibusdam placeat, temporibus omnis. Debitis, facere expedita. Maxime!</p>
     
       <br>
       <ul>
        <li>Lorem ipsum dolor ghu amet.</li>
        <li>Lorem ipsum dolor sit havy.</li>
        <li>Lorem ipsum dolor sit amet consectetur.</li>
       </ul>
      </div>






     </div>


     <div class="gray">
<div class="g1">

  <div class="gm"><img src="trust1.png" alt=""></div>
  <div class="gm"><h1>31k</h1><p style="color: #fff;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">Clients</p></div>


</div>

<div class="g1"> <div class="gm"><img src="trust2.jpg" alt=""></div>
  <div class="gm"><h1>98k</h1><p style="color: #fff;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">Domanins</p></div>

</div>
<div class="g1">
   <div class="gm"><img src="trust3.jpg" alt=""></div>
  <div class="gm"><h1>51k</h1><p style="color: #fff;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">Awards</p></div>


</div>
<div class="g1">
   <div class="gm"><img src="trust4.jpg" alt=""></div>
  <div class="gm"><h1>362k</h1><p style="color: #fff;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">VPS</p></div>


</div>

     </div>



     <div class="lighty">
      <img src="banner-bg.jpg" alt="">
     </div>
<div class="start">
  <h1>We are here to help you  <br>
     get started</h1>
     <br>
     <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto, veniam.</p>
     <br>
     <button type="submit" onclick="abc()" >Start</button>
</div>


       <%- include('partials/footer')%>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js" integrity="sha512-NcZdtrT77bJr4STcmsGAESr06BYGE8woZdSdEgqnpyqac7sugNO+Tr4bGwGF3MsnEkGKhU2KL2xh6Ec+BqsaHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>




<script src="Home.js"></script>
</body>
</html>