<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="service.css">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>
<body>
    

    <%- include('partials/header')  %>


  <h1 style="text-align: center;background-color: burlywood;" >Our Services</h1>

   <div class="sack">


   <div class="sa">

   <div class="g1">
    <h1>Clouds Hosting</h1><br>
    <h1>$67.5 /Month </h1>
   </div>
   <br>


   <pre>
10GB File storage
Unlimited websites
24/7 Support
Discount code engine
All OS Supported
Snyc Multiple Devices</pre>


<button type="submit" id="buttonn" > Get Plan</button>
   </div>










<div class="sa">

   <div class="g1">
    <h1>VPS</h1><br>
    <h1>$157.5 /Month </h1>
   </div>
   <br>


   <pre>
10GB File storage
Unlimited websites
24/7 Support
Discount code engine
All OS Supported
Snyc Multiple Devices</pre>


<button type="submit" id="buttonn" > Get Plan</button>
   </div>




   <div class="sa">

   <div class="g1">
    <h1>Dedicated Hosting</h1><br>
    <h1>$68.5 /Month </h1>
   </div>
   <br>


   <pre>
10GB File storage
Unlimited websites
24/7 Support
Discount code engine
All OS Supported
Snyc Multiple Devices</pre>


<button type="submit" id="buttonn" > Get Plan</button>
   </div>






   </div>

<br><br><br><br><br>
   

    <%- include('partials/footer')  %>





     <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js" integrity="sha512-NcZdtrT77bJr4STcmsGAESr06BYGE8woZdSdEgqnpyqac7sugNO+Tr4bGwGF3MsnEkGKhU2KL2xh6Ec+BqsaHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="service.js"></script>


</body>
</html>